/* Font */
@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Body */
body {
    margin: 0;
    padding: 0;
    color: #F1F7ED;
    font-family: 'SDSamliphopangche_Basic';
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 {
    background-color: #E3D081;
}

#section2 {
    background-color: #3A7D66;
}

.section1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3D081;
    overflow: hidden
}

.section2 {
    height: 100vh;
    display: none;;
    background-color: #3A7D66;
}

.compass-main {
    max-width: 45%;
    max-height: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
}

.image-container {
    max-width: 25rem;
    max-height: 100%;
    text-align: center;
}

.compass-yellow {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}

.index {
    height: 1.75rem;
    width: auto;
    margin-top: 1.25rem;
    transition: height 1s ease;
    cursor: pointer;

}

.index-hover {
    height: 1.25rem;
    width: auto;
    margin-top: 1.25rem;
    cursor: pointer;
    transition: height 0.1s ease;
}

.hover-image {
    display: none;
}